<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full rounded-lg shadow dark:border md:mt-0 md:max-w-lg xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            重新寄送驗證
          </h1>

         
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email_field, "Email：" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input-border-click my-2" %>
            </div>

            <div class="actions">
              <%= f.submit "重新寄送", class: "major-btn" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
  </div>
</section>