<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "Email：" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>等待確認Email<%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "密碼：" %> <i>(如果不更新請留空白)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>密碼最少為<%= @minimum_password_length %>碼</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "再次輸入密碼：" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "舊密碼" %> <i>(輸入舊密碼以更新密碼)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: "major-box" %>
  </div>
<% end %>

<%= link_to "返回", :back %>
