<%= form_with(model: @opening_time, url: backstage_opening_time_path(@opening_time) ) do |f| %>
  <div>
    <%= f.label :opening_time, '時段：'%>
    <%= f.time_select :opening_time, class: 'input-border-click' %>至
    <%= f.time_select :closed_time, class: 'input-border-click' %>
    <%= f.submit '儲存', class: 'major-btn' %>
  </div>
<% end %>