<h2>預約成功詳細資料</h2>

<li>
  預約人姓名 <%= @reservation.name %>
</li>
<li>
  預約人信箱 <%= @reservation.email %>
</li>
<li>
  預約人稱謂 <%= @reservation.gender %>
</li>
<li>
  預約日期 <%= @reservation.arrival_date %>
</li>
<li>
  預約時間 <%= @reservation.arrival_time.strftime('%R') %>
</li>
<li>
  預約的位置類型 <%= @reservation.seat.kind %>
</li>
<li>
  預約餐廳 <%= @reservation.restaurant.title %>
</li>

<h2>到店給店員掃描的QRCODE</h2>
<%= image_tag(attachments['qr.png'].url)%>

<h2>取消訂位</h2>
<button style="padding: 5px 20px; background-color: #FB8500; border: 1px solid #FB8500; border-radius: 15px;">
  <a href=<%= @cancel_url %> style="color: white; text-decoration: none;">點我取消訂位</a>
</button>