<nav class="fixed top-0 left-0 z-50 w-full px-3 py-2 bg-white shadow md:flex md-items-center md:justify-between">
  <div class="flex items-center justify-between w-full">
    <span class="text-2xl cursor-pointer">
      <%= link_to image_tag("123.svg", width: 110), root_path %>
    </span>
  <ul class="flex">
    <div class="flex">
      <div class="flex hidden mr-3 rounded md:block">
      <%= form_with(url: root_path, method: :get )do |form| %>
        <%= form.text_field :search, placeholder: "輸入搜尋餐廳", class: "input-border-click" %>
        <%= form.submit "搜尋", name: nil, class: "major-btn" %>
      </div>
      <% end %>
      <div class="flex items-center">
        <% if current_manager %>
          <li><%= link_to current_manager.name, backstage_root_path, class:"mr-2 text-lg hover:text-major" %></li>
          <li class= "text-lg hover:text-major"><%= link_to '登出', destroy_manager_session_path, method: :delete %></li>
        <% else %>
          <li class= "mr-2 text-lg hover:text-major"><%= link_to '註冊', new_manager_registration_path %></li>
          <li class= "text-lg hover:text-major"><%= link_to '登入', new_manager_session_path %></li>  
        <% end %>
      </div>
    </div>
  </ul>
</nav>







