<h1 class="backstage-top-bar">請修改座位資訊</h1>

  <% if @seat.errors.any? %>
    <ul>
      <%= @seat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>  
  <% end %>


  <%= form_with model: @seat, url: backstage_seat_path(@seat) do |f| %>
    <div class="seat-form">
      <%= f.label "種類" %>
      <%= f.select :kind, Seat.kinds.keys %>
    </div>
    <div class="seat-form">
      <%= f.label "容納人數" %>
      <%= f.select :capacity, [[1, 1], [2, 2], [3, 3]] %>
    </div>
    <div class="seat-form">
      <%= f.label "訂金" %>
      <%= f.text_field :deposit %>
    </div>
  
    <%= f.submit "修改座位", class: 'major-btn css-btn'%>
  <% end %>
