<main class='grid grid-cols-3 grid-rows-2 gap-4 p-6 ml-20 bg-hoverGray'>
  <div class='mb-auto bg-white border rounded'>
    <h2 class='py-2 text-2xl font-bold text-center border-b'>
      新增座位
    </h2>
    <div class='p-6 text-left'>
        <% if @seat.errors.any? %>
          <ul>
            <% @seat.errors.full_messages.each do |message| %>
              <li><%= message %></li> 
            <% end %>
          </ul>  
        <% end %> 

        <%= form_with model: @seat, url: backstage_restaurant_seats_path(@restaurant) do |f| %>
          <div class='grid items-center grid-cols-2'>
            <div class="mb-2">
              <%= f.label :title, "桌號"%>
              <%= f.text_field :title, class: 'input-border-click' %>
            </div>
            <div class="mb-2">  
              <%= f.label :kind, "種類"%>
              <%= f.select :kind, Seat.kinds.keys, {}, {:class => 'text-xl block input-border-click justify-center m-auto'} %>
            </div>
            <div class="mb-2">
              <%= f.label :deposit, "訂金"%>
              <%= f.text_field :deposit, class: 'input-border-click' %>
            </div> 
            <div class="mb-2">
              <%= f.label :capacity, "人數上限"%>
              <%= f.select :capacity, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7]], {}, {:class => 'text-xl block input-border-click m-auto'}  %>
            </div>
          </div>
        <%= f.submit "新增座位", class: 'major-btn css-btn px-6 py-2  '%>
        <% end %>
    </div>
  </div>
  <div class='col-span-2 row-span-2 py-0 mb-auto bg-white border rounded',
        data-controller= 'opening-time'>
    <h2 class='py-2 text-2xl font-bold text-center border-b'>座位</h2>
    <div>  
      <% @seats.each do |seat| %>
        <div class='grid grid-cols-5 p-4 text-center border-b'>
          <p class='text-2xl'>  
            <%= seat.title %>
          </p>
          <p class='my-auto mr-3 text-2xl text-major'>
            上限<%= seat.capacity %>人  
          </p>
          <p class='my-auto text-sm'>
            <%= (seat.deposit == 0 )? '' : seat.deposit  %>
          </p> 
          <span class='m-auto'>
            <% if seat.state == 'vacant' %>
              <%= link_to (I18n.t :"seats.#{seat.state}"), vacant_backstage_seat_path(seat.id.to_i), class: 'px-2 text-xl text-green-600 border rounded' %>
            <% else %>
              <%= link_to (I18n.t :"seats.#{seat.state}"), occupied_backstage_seat_path(seat.id.to_i), class: 'px-2 m-auto text-xl text-red-600 border rounded' %>
            <% end %>
          </span>
          <div class='m-auto'>
            <%= link_to edit_backstage_seat_path(seat.id.to_i), class: 'major-btn mr-2' do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to backstage_seat_path(seat.id.to_i), data: {method: 'delete'},class: "major-btn bg-red-600 hover:bg-red-800" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            </div>
        </div>
      <% end %>
      
    </div>
  </div>
</section>


<section class="bg-white border" data-controller="qrcode-scanner">
  <div class="py-2 text-2xl font-bold text-center border-b">店員QRCODE掃碼區</div>
  <div class="p-6">
    <button class="px-6 py-2 major-btn" data-action="click->qrcode-scanner#openLens">掃描</button>
    <button class="px-6 py-2 major-btn" data-action="click->qrcode-scanner#closeLens">關閉</button>
  </div>
  <video data-qrcode-scanner-target="video"></video>
  <div data-qrcode-scanner-target="scanRegion"></div>
  
  
</section>





