<div>
  <div class="flex flex-col pb-5 mb-4 rounded shadow-lg md:flex-row md:pt-5 md:pl-5">
    <div class="w-full mr-6 rounded md:w-1/4 h-1/4">
      <div class="h-26 md:h-48">
        <% if restaurant.images.first %>
          <%= image_tag restaurant.images.first, class: "object-cover w-full h-full" %>
        <% else %>
          <img src="/assets/banner.png" class="object-cover w-full h-full">
        <% end %>
      </div>
    </div>
    <div class="p-4">
      <h2 class= "mb-3 text-2xl font-bold"><%= link_to restaurant.title, restaurant_path(restaurant) %></h2>
      <p class="my-3 text-lg text-gray-500 ont-bold"><%= restaurant.address %></p>
      <p class="text-lg ont-bold"><%= restaurant.branch %></p>
      <div class="mt-4">
        <% restaurant.tags.uniq.each do |tag| %>
          <span>
            <%= link_to "##{tag.name}", root_path(query: tag.name), class: "py-1 px-5 m-1 border hover:bg-major hover:text-white cursor-pointer inline-block rounded-xl bg-gray-100" %>
          </span>          
        <% end %>        
      </div>
    </div>
  </div>
</div>
