<main class="max-w-screen-lg mx-auto">    
  <section class="home-img">
    <div class="swiper mySwiperTop" data-controller="swiper-carousel-top">
      <div class="swiper-wrapper">
        <% @restaurants.each do |restaurant| %>
          <% restaurant.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag (image.url),class:"object-cover" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="swiper-button-next swiper-button-next-top"></div>
      <div class="swiper-button-prev swiper-button-prev-top"></div>
      <div class="swiper-pagination swiper-pagination-top"></div>
    </div> 
  
    <div class="my-6">
      <%= form_with(url: root_path, method: :get )do |form| %>
      <%= form.label :搜尋餐廳, class: "text-lg font-bold" %>
      <%= form.text_field :search, placeholder: "輸入搜尋餐廳", class: "input-border-click" %>
      <%= form.submit "搜尋", name: nil, class: "major-btn" %>
      <% end %>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <h4 class="mb-4 text-lg font-bold">用餐人數</h4>
      
        <div class="flex">
          <select class="w-full mr-4 input-border-click">
            <option value="">大人人數</option>
          </select>
          <select class="w-full input-border-click">
            <option value="">小孩人數</option>
          </select>
        </div>
      </div>

      <div>
        <h4 class="mb-4 text-lg font-bold">用餐日期</h4>
        <div>
          <input type="date" class="w-full date input-border-click">
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div>
      <% @restaurants.each do |restaurant| %>
        
        <div class="flex py-4 my-6 border-b-2">
          <div class="w-1/4 mr-6 rounded h-1/4">            
            <%= image_tag restaurant.images[0] %>            
          </div>
          <div class="txt">
            <h2><%= link_to restaurant.title, restaurant_path(restaurant), class: "mb-3 text-3xl" %></h2>
            <p class="mb-3 text-gray-500"><%= restaurant.address %></p>
            <%= restaurant.branch %></p>
           
            <div class="mt-4">
              商店標籤：
              <% restaurant.tags.each do |tag| %>
               <span class="p-2 border"><%= link_to tag.name, root_path(query: tag.name) %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

</main>