<main>
  <div class='max-w-screen-lg px-3 mx-auto mt-8'>
    <section class='mb-4'>
      <h2 class="mb-4 text-xl">
        你好
        <%= current_manager.name %>
      </h2>
      <div>
        <span class='mr-2 major-btn'>
          <i class="fa-solid fa-plus">
            <%= link_to " 新增餐廳", new_backstage_manager_restaurant_path(current_manager.id)%>
          </i>
        </span>
        <span class='mr-2 major-btn'>
         <i class="fa-solid fa-gear"></i>
        </span>
        <span class='mr-2 major-btn'>
          <a href="/">
            <i class="fa-solid fa-house"></i>
          </a>
        </span>
      </div>
    </section>

    <section class='p-4 my-4'>
      <% @restaurants.each do |restaurant| %>
        <div class='flex flex-col p-4 m-auto mb-4 border rounded md:w-2/3'>
          <h2 class='mb-4 text-2xl'>
           <%= restaurant.title %>
            <%= restaurant.branch %>
          </h2>
          <div class='flex flex-col mb-4 md:flex-row md:gap-4'>
            <div class='grid grid-cols-2 gap-4 p-4 mb-4 text-center border rounded md:mb-0'>
              <span>
                <p class='text-3xl text-major'>
                  <%= restaurant.reservations.select{|reservation| reservation.arrival_date == Date.today}.size %>
                </p>
                <p>今日組數</p>
              </span>
              <span>
                <p class='text-3xl text-major'>
                  0
                </p>
                <p>以報到</p>
              </span>
              <span>
                <p class='text-3xl text-major'>
                  <%= restaurant.seats.size %>
                </p>
                <p>同時容納上限</p>
              </span>
              <div>
                <% opening_time = restaurant.opening_times.reduce([]){|arr, opening_time| arr << (opening_time.opening_time.strftime('%R')..opening_time.closed_time.strftime('%R'))} %>  
                <% opening_time = opening_time.select{|time_range| time_range.include?(Time.current.strftime('%R'))} %>
                <% if opening_time.size > 0 %>
                  <span class='text-3xl text-green-500'>營業中</span>
                <% else %>
                  <span class='text-3xl text-red-500'>已打烊</span>
                <% end %>
                <p>營業狀況</p> 
              </div>
            </div>
            
            <div>
              <h3>
                餐廳資訊
              </h3>
              <div>
                <i class="fa-solid fa-phone"></i>
                <%= restaurant.tel %>
              </div>
              <div class='mb-4'>
                <i class="fa-solid fa-location-dot"></i>
                <%= restaurant.address %>
              </div>
              <div class='flex'>
                <%= link_to '查看此店', backstage_restaurant_path(restaurant), class: 'major-btn mr-4'%>
                <%= link_to "編輯餐廳資訊", edit_backstage_restaurant_path(restaurant), class: "major-btn"%>
              </div>

            </div>
          </div>
          
        </div>
      <% end %> 
    </section>
  </div>  
</main>

      
