<div class="my-24 ml-12">
  <h2>這個是消費者最後看到的頁面</h2>
  
</div>

<div class="ml-12">
  <li>預約單id: <%= @reservation.id %></li>
  <li>serial: <%= @reservation.serial %></li>
  <li>name: <%= @reservation.name %></li>
  <li>phone: <%= @reservation.phone %></li>
  <li>email: <%= @reservation.email %></li>
  <li>gender: <%= @reservation.gender %></li>
  <li>arrival_time: <%= @reservation.arrival_time %></li>
  <li>arrival_date: <%= @reservation.arrival_date %></li>
  <li>adult_quantity: <%= @reservation.adult_quantity %></li>
  <li>child_quantity: <%= @reservation.child_quantity %></li>
  <li>user_id: <%= @reservation.user_id %></li>
  <li>seat_id: <%= @reservation.seat_id %></li>
  <li>椅子類型: <%= @reservation.seat.kind %></li>
  <li>椅子容量: <%= @reservation.seat.capacity %></li>
  <li>餐廳名稱: <%= @reservation.seat.restaurant.title %></li>
</div>


<% if @reservation.seat.deposit != 0 %>
<div class="ml-12 mt-8">
  <h3>付款金額：<%= @reservation.seat.deposit %></h3>
  <%= form_with url: "https://ccore.spgateway.com/MPG/mpg_gateway" do |form| %>
    <input type="hidden" id="MerchantID" name="MerchantID" value="<%= @form_merchant_id %>">
    <input type="hidden" id="TradeInfo" name="TradeInfo" value="<%= @form_trade_info %>">
    <input type="hidden" id="TradeSha" name="TradeSha" value="<%= @form_trade_sha %>">
    <input type="hidden" id="RespondType" name="RespondType" value="JSON">
    <input type="hidden" id="TimeStamp" name="TimeStamp" value="<%= @reservation.created_at %>">
    <input type="hidden" id="Version" name="Version" value="2.0">
    <input type="hidden" id="MerchantOrderNo" name="MerchantOrderNo" value="<%= @reservation.serial %>">
    <input type="hidden" id="Amt" name="Amt" value="<%= @reservation.seat.deposit %>">
    <input type="hidden" id="ItemDesc" name="ItemDesc" value="<%= @reservation.seat.kind %>">
    <input type="hidden" id="Email" name="Email" value=<%= @reservation.email %>>
    <input type="hidden" id="LoginType" name="LoginType" value="是否需要登入會員">

  <%= form.submit "藍新信用卡付款", class: "major-btn" %>
  <% end %>
</div>
<% end %>


<div class="my-8 ml-12">
  <li>User model的資料</li>
   <li><%= @reservation.user.name %></li>
   <li><%= @reservation.user.email %></li>
   <li><%= @reservation.user.phone %></li>
   <li><%= @reservation.user.gender %></li>
</div>

<%= link_to "回首頁", root_path, class: "major-btn ml-12" %>
