<div class="my-24 ml-12">
  <h2>這個是消費者最後看到的頁面</h2>
  
</div>

<div class="ml-12">
  <li>預約單id: <%= @reservation.id %></li>
  <li>serial: <%= @reservation.serial %></li>
  <li>name: <%= @reservation.name %></li>
  <li>phone: <%= @reservation.phone %></li>
  <li>email: <%= @reservation.email %></li>
  <li>gender: <%= @reservation.gender %></li>
  <li>arrival_time: <%= @reservation.arrival_time %></li>
  <li>adult_quantity: <%= @reservation.adult_quantity %></li>
  <li>child_quantity: <%= @reservation.child_quantity %></li>
  <li>user_id: <%= @reservation.user_id %></li>
  <li>seat_id: <%= @reservation.seat_id %></li>
  <li>椅子類型: <%= @reservation.seat.kind %></li>
  <li>椅子容量: <%= @reservation.seat.capacity %></li>
  <li>餐廳名稱: <%= @reservation.seat.restaurant.title %></li>
</div>

<div class="my-8 ml-12">
  <li>User model的資料</li>
   <li><%= @reservation.user.name %></li>
   <li><%= @reservation.user.email %></li>
   <li><%= @reservation.user.phone %></li>
   <li><%= @reservation.user.gender %></li>
</div>


<%= link_to "確認預約 / 前往付款", "#", class: "major-btn ml-12"  %>
<%= link_to "回首頁", root_path, class: "major-btn ml-12" %>



