<div class="mt-20"> 
  <h2>訂單回傳資料</h2>
  <div>
    <div>MerchantID : <%= @MerchantID %></div>
    <div>ItemDesc : <%= @ItemDesc %></div>
    <div>Amt : <%= @Amt %></div>
    <div>PayTime : <%= @PayTime %></div>
    <div>TradeNo : <%= @TradeNo %></div>
    <div>MerchantOrderNo : <%= @MerchantOrderNo %></div>   
  </div>
  <div>
  <%= link_to "回到首頁", root_path, class: "major-btn" %>
  </div>
</div>