<section class="mt-24 mb-24">
  <div class="w-2/3 py-10 mx-auto bg-green-300">
    <h3 class="text-2xl text-center text-green-800">交易結果訊息 ： 付款成功 (Success)</h3>
  </div>

  <h2 class="w-2/3 pt-10 pb-4 mx-auto text-xl text-red-800 border-b-4">付款資訊</h2>
  <div class="grid w-2/3 grid-cols-3 grid-rows-2 gap-4 p-4 mx-auto border">  

    <div class="font-bold">交易編號</div>
    <div class="col-span-2"><%= @trade_no %></div>
    
    <div class="font-bold">訂單金額</div>
    <div class="col-span-2"><%= @amt %></div>
    
    <div class="font-bold">實際付款金額</div>
    <div class="col-span-2"><%= @amt %></div>
    
    <div class="font-bold">付款方式</div>
    <div class="col-span-2"><%= @payment_type %></div>
    
    <div class="font-bold">信用卡卡號</div>
    <div class="col-span-2"><%= @card6_no %>******<%= @card4_no %></div>

    <div class="font-bold">交易時間</div>
    <div class="col-span-2"><%= @pay_time %></div>

    <div class="font-bold">訂單狀態</div>
    <div class="col-span-2 text-red-500"><%= @reservation.state %></div>

  </div>


  <h2 class="w-2/3 pt-10 pb-4 mx-auto text-xl text-red-800 border-b-4">商店資訊</h2>
  <div class="grid w-2/3 grid-cols-3 grid-rows-2 gap-4 p-4 mx-auto border">  

    <div class="font-bold">商店名稱</div>
    <div class="col-span-2"><%= @merchant_id %></div>
    
    <div class="font-bold">商品名稱</div>
    <div class="col-span-2"><%= @item_desc %></div>
    
    <div class="font-bold">商店訂單編號</div>
    <div class="col-span-2"><%= @merchant_order_no %></div>
    
    <div class="font-bold">藍新金流交易序號</div>
    <div class="col-span-2"><%= @trans_no %></div>

  </div>  

  <div class="w-2/3 mx-auto mt-10">
    <%= link_to "回到首頁", root_path, class: "major-btn px-6 py-2" %>
  </div>
</section>




