<div class="container-1140">
  <section class="md:w-2/5">
    <h2 class="pb-6 text-2xl font-bold border-b-2">會員登入</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mt-8">
        <%= render 'layouts/messages' %>

        <div class="field">
          <p class="mb-2"><%= f.label :email, "Email："%></p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-box" %>
        </div>

        <div class="field">
          <p class="mb-2"><%= f.label :password, "密碼：" %></p>
          <%= f.password_field :password, autocomplete: "current-password", class: "input-box" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-2 field">
            <%= f.check_box :remember_me %>
            <span><%= f.label :remember_me, "記住我"%></span>
          </div> 
        <% end %>

        <div class="mb-4 actions">
          <%= f.submit "登入",class: "major-btn" %>
        </div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>

  <section class="w-3/6 rounded">
    <img src="https://picsum.photos/seed/picsum/570/600" alt="" class="hidden rounded md:block">
  </section>
  
</div>

