<main class="max-w-screen-lg mx-auto">
  <section>
    <div class="swiper mySwiperTop" data-controller="swiper-carousel-top">
      <div class="swiper-wrapper">
        <% @restaurant.images.each do |image| %>
          <div class="swiper-slide">
            <%= image_tag (image.url),class:"object-cover" %>
          </div>
        <% end %>
      </div>
      <div class="swiper-button-next swiper-button-next-top"></div>
      <div class="swiper-button-prev swiper-button-prev-top"></div>
      <div class="swiper-pagination swiper-pagination-top"></div>
    </div> 

    <div>
      <div class="py-8 space-y-2.5 border-b-2">  
        <h1 class="text-4xl font-bold">
          <%= @restaurant.title %>
          <%= @restaurant.branch %>
        </h1>
        <p class="text-gray-500 "><%= @restaurant.address %></p>
        <div>
          <i class="fa-regular fa-phone-office"></i>
          <%= @restaurant.tel %>
          <i class="fa-regular fa-map">地圖</i>
        </div>
      </div>
      <div class="py-8 space-y-2.5 border-b-2">
        <%= @content %>
      </div>
    </div>
  </section>
  
  <section class='pb-6 mx-2 mb-6 border-b-2 lg:mx-0'>
    <div>
      <%= form_with url: reserve_restaurant_path(@restaurant), method: "get", data: {
        controller: 'restaurant-reservation'
      } do |f| %>
        <div>
          <div class='gap-4 md:grid grid-cols-1-2'>
            <div>
              <h4 class='reservation-font'>用餐人數</h4>
              <div class='flex gap-2'>
                <%= f.select :adult_quantity, [['1位大人', 1], ['2位大人', 2], ['3位大人', 3], ['4位大人', 4], ['5位大人', 5]],
                  {},
                  {class: 'input-border-click w-full py-1 px-2',
                    data: {restaurant_reservation_target: 'adult',
                            action: 'change->restaurant-reservation#fetchOccupied',
                            id: @restaurant.id    
                    }
                  }%>
                <%= f.select :child_quantity, [['0位小孩', 0], ['1位小孩', 1], ['2位小孩', 2], [' 3位小孩', 3], ['4位小孩', 4], [' 5位小孩', 5]],
                  {},
                  {class: 'input-border-click w-full py-1 px-2',
                    data: {restaurant_reservation_target: 'child',
                            action: 'change->restaurant-reservation#fetchOccupied',
                            id: @restaurant.id   
                    }
                  } %>
              </div>
            </div>
            <div>
              <% date_range = RestaurantsHelper::DateRange.new([]) %>
              <% date_range.end_day(@restaurant.period_of_reservation) %>
              <% date_range.reservation_range_date(Date.yesterday) %>

              <h4 class='reservation-font'>用餐日期</h4>
              <div class='grid grid-cols-5 gap-3 md:grid-cols-7'>

                <% date_range.date_list.each do |date| %>
                  <button class='w-full h-full py-1 gray-btn'
                          data-action='click->restaurant-reservation#getDate'
                          data-restaurant-reservation-target='date'
                          data-date=<%= date.gsub(/\D/, '/').strip.to_date %>
                          data-id='<%=@restaurant.id%>'
                          value='<%= date %>'
                          >
                    <%= date %>
                  </button>
                <% end %>
                <input type="hidden" name="arrival_date" data-restaurant-reservation-target='dateInput'>
              </div>
            </div>
          </div>
          
          <div>            
            <% time_range = RestaurantsHelper::TimeRange.new(@opening_time, @restaurant.interval_time) %>
            <% time_range.time_collection %>
            <% time_range.interval_time %>
            <h4 class='reservation-font'>用餐時間</h4>

            <div class='hidden text-center border rounded' data-restaurant-reservation-target='notice'>
              <div class='text-red-500 '>座位已滿</div>
            </div>
            <div class='grid grid-cols-7 gap-3'  data-restaurant-reservation-target='timeBtn'>
              <% time_range.interval_time.each do |time_point| %>
                <button class='py-1 disabled-btn'
                        data-action='click->restaurant-reservation#getTime'
                        data-restaurant-reservation-target='time'
                        value='<%= time_point %>'
                        data-id='<%=@restaurant.id%>'
                        disabled>
                  <%= time_point %>
                </button>
              <% end %>
              <input type="hidden" name="arrival_time" data-restaurant-reservation-target='timeInput'>
            </div>
          </div>

          <div>
            <h4 class='reservation-font'>選擇座位</h4>
            <div class='grid grid-cols-7 gap-3' data-restaurant-reservation-target='seatBtn'>
              <% @seats.each do |seat| %>
                <button class='py-1 disabled-btn'
                        data-action='click->restaurant-reservation#getSeat'
                        data-restaurant-reservation-target='seat'
                        data-date=''
                        data-time=''
                        data-state='true'
                        value='<%= seat.id %>'
                        data-id='<%=@restaurant.id%>'
                        disabled>
                  <%= seat.kind %>
                </button>
              <% end %>
              <input type="hidden" name="seat_id" data-restaurant-reservation-target='seatInput'>
              <input type="hidden" name="key" value='<%= @key %>'>
            </div>  
          </div>
        </div> 
          
      <div class="fixed z-40 w-full px-2 lg:px-0 max-w-1140 bottom-1 ">
        <div class= "w-full mx-auto">
          <%= f.submit '訂位，下一步填寫資料', 
                        class:'disabled-btn w-full py-2',
                        disabled: true,
                        data: {
                          restaurant_reservation_target: 'submit'
                        }%>
        </div>
      </div>
      <% end %>
    </div>
  </section>

  <section>
    <div class='grid-cols-2 pb-6 mx-2 mb-6 border-b-2 md:grid lg:mx-0 md:gap-4'>
      <div class='mb-6'>
        <iframe
        class='w-full h-full border-none'
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAP_KEY']%>
          &q=<%= @restaurant.address%>">
        </iframe>
      </div>
      <div class='px-4'>
        <div class='pb-2 mb-2 border-b-2'>
          <p class='mb-2'>位置</p>
          <p class='text-gray-600'>
            <%= @restaurant.address%>
          </p>
        </div>
        <div class='pb-2 mb-2 border-b-2'>
          <p class='mb-2'>電話</p>
          <p class='text-gray-600'>
            <%= @restaurant.tel%>
            </p>
        </div>
        <div class='pb-2 mb-2 border-b-2'>
          <p class='mb-2'>營業時間</p>
          <p class='text-gray-600'>
            <% @restaurant.opening_times.each do |opening_time|%>
              <div>
                <%= opening_time.opening_time.strftime('%R') %> - 
                <%= opening_time.closed_time.strftime('%R') %>
              </div>
            <% end %>
          </p>
        </div>
        <div class='pb-2 mb-2 border-b-2'>
          <p class='mb-2'>料理類型</p>
        </div>
      </div>
    </div>
   
  </section>
 
  
  <section>
    <div class="py-8 space-y-2.5 border-b-2" data-controller="swiper-carousel">
      <div style="display: flex; justify-content:center; align-items: center" >
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <% @restaurant.images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag (image.url), class:"object-cover" %>
              </div>
            <% end %>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </section>
</main>