<div class="mt-24">
  <h1><%= @restaurant.title %></h1>
  <%= link_to "新增座位 ", new_backstage_restaurant_seat_path(@restaurant), class: "major-btn" %>
  <div>
    <h2>座位資訊</h2>
    <table>
      <tr>
        <td class="pr-4">seat id</td>
        <td class="pr-4">seat kind</td>
        <td class="pr-4">seat capacity</td>
        <td class="pr-4">seat deposit</td>
        <td class="pr-4">seat 資訊修改</td>
        <td class="pr-4">seat 刪除</td>
        <td class="pr-4">此位子的訂單ID</td>
        <td class="pr-4">定位日期</td>
        <td class="pr-4">定位時間</td>
        <td class="pr-4">訂單狀態</td>
        <td class="pr-4">釋放此張預約單</td>
      </tr>
      <% @seats.each do |seat| %>
        <tr class="border">
          <td><%= link_to seat.id, backstage_seat_path(seat.id), class: "major-btn" %></td>
          <td><%= seat.kind %></td>
          <td><%= seat.capacity %></td>
          <td><%= seat.deposit %></td>
          <td><%= link_to "edit", edit_backstage_seat_path(seat.id), class: "major-btn" %></td>
          <td><%= link_to "x", backstage_seat_path(seat.id), method: "delete", data: {confirm: "sure??"}, class: "major-btn" %></td>
          
          <td>
            <% seat.reservations.each do |reservation| %>
              <li><%= reservation.id %></li>
            <% end %>
          </td>
          <td>
            <% seat.reservations.each do |reservation| %>
              <li><%= reservation.arrival_date %></li>
            <% end %>
          </td>
          <td>
            <% seat.reservations.each do |reservation| %>
              <li><%= reservation.arrival_time.strftime("%R") %></li>
            <% end %>
          </td>

          <td>
            <% seat.reservations.each do |reservation| %>
              <li><%= reservation.state %></li>
            <% end %>
          </td>

          <td>
            <% seat.reservations.each do |reservation| %>
              <li><%= link_to "手動關閉此張預約單", finish_backstage_reservation_path(reservation), class: "major-btn" %></li>
            <% end %>
          </td>
          

        </tr>
      <% end %>
    </table>
  </div>  

  <%= link_to "管理者頁面", backstage_root_path, class: "major-btn" %>

</div>

