<div class="mt-24">
  <%= form_with(model: [:backstage, :manager, @restaurant],url: url) do |f| %>
  <div>
    <%= f.label :title, "餐廳名稱：" %>
    <%= f.text_field :title, class: "input-box" %>
  </div>

  <div>
    <%= f.label :address, "餐廳地址：" %>
    <%= f.text_field :address, class: "input-box" %>
  </div>

  <div>
    <%= f.label :branch, "餐廳分店：" %>
    <%= f.text_field :branch, class: "input-box", placeholder: "例如：復興店" %>
  </div>

  <div>
    <%= f.label :tel, "餐廳電話：" %>
    <%= f.phone_field :tel, class: "input-box" %>
  </div>
  
  <div>
    <%= f.label :start_time, "用餐開始時間：" %>
    <%= f.time_select :start_time, class: "input-box" %>
  </div>
  
  <div>
    <%= f.label :end_time, "用餐結束時間：" %>
    <%= f.time_select :end_time, class: "input-box" %>
  </div>

  <div>
    <%= f.label :period_of_reservation, "預定期限：" %>
    <%= f.number_field :period_of_reservation, class: "input-box" %>
  </div>

  <div>
    <%= f.label "標籤：" %>
    <%= f.text_field :tag_list, class: "input-box", placeholder: "義式, 美式, 中式" %>
  </div>

  <div>
    <%= f.label :images, "新增照片：" %>
    <%= f.file_field :images, :multiple => true, accept: 'image/png, image/gif, image/jpeg' %>
  </div>
  
  <%= f.submit "編輯餐廳",class: "major-btn" %>
  <% end %>
</div>