<div>
  <h1 class="flex px-6 py-3 text-3xl bg-white">座位資訊</h1>

  <div>
    <% date_range = RestaurantsHelper::DateRange.new([]) %>
    <% date_range.end_day(@restaurant.period_of_reservation) %>
    <% date_range.reservation_range_date(Date.yesterday) %>
    
    
    <div class='flex ml-4'>
      <% date_range.date_list.each do |date| %>
        <p class="">
          <%#= link_to date, root_path(query: date), class: "px-6 py-2 mr-2 major-btn" %>
          <%= link_to date, "#{backstage_restaurant_path(@restaurant)}/?date=2022-#{date[0]}#{date[1]}-#{date[3]}#{date[4]}", class: "px-6 py-2 mr-2 major-btn" %>
          
        </p>
      <% end %>
    </div>
  </div>

  <table class="mt-4 ml-4 border-2">
    <tr class="text-lg border">
      <td class="py-3 pl-10">座位id</td>
      <td>類型</td>
      <td>容納人數</td>
      <td>訂金</td>
      <td>修改</td>
      <td>刪除</td>
      <td>此座位的訂單ID</td>
      <td>日期</td>
      <td>時間</td>
      <td>訂單狀態</td>
      <td>釋放此張預約單</td>
    </tr>
      <% @seats.each do |seat| %>
    <tr> 
      <td class="pl-10 border-t-2 border-b-2"><%= link_to seat.id, backstage_seat_path(seat.id), class: "major-btn px-4 py-1 bg-gray-500" %></td>
      <td class="border-t-2 border-b-2"><%= seat.kind %></td>
      <td class="border-t-2 border-b-2"><%= seat.capacity %></td>
      <td class="border-t-2 border-b-2"><%= seat.deposit %></td>
      <td class="border-t-2 border-b-2"><%= link_to "編輯", edit_backstage_seat_path(seat.id), class: "major-btn px-4 py-1 bg-gray-500" %></td>
      <td class="border-t-2 border-b-2"><%= link_to "x", backstage_seat_path(seat.id), method: "delete", data: {confirm: "sure??"}, class: "major-btn px-4 py-1 bg-gray-500" %></td>
      <td class="py-4 border-t-2 border-b-2">
      <% seat.reservations.each do |reservation| %>
        <li><%= reservation.id %></li>
      <% end %>
      </td>
      <td class="border-t-2 border-b-2">
        <% seat.reservations.each do |reservation| %>
          <li><%= reservation.arrival_date %></li>
        <% end %>
      </td>
      <td class="border-t-2 border-b-2">
        <% seat.reservations.each do |reservation| %>
          <li><%= reservation.arrival_time.strftime("%R") %></li>
        <% end %>
      </td>

      <td class="border-t-2 border-b-2">
        <% seat.reservations.each do |reservation| %>
          <li><%= reservation.state %></li>
        <% end %>
      </td>

      <td class="border-t-2 border-b-2">
        <% seat.reservations.each do |reservation| %>
          <li><%= link_to "手動關閉", finish_backstage_reservation_path(reservation), class: "major-btn bg-red-400 hover:bg-red-600" %></li>
        <% end %>
      </td>
    </tr>
        <% end %>
  </table>
  <div class="flex">
  <%= link_to "新增座位 ", new_backstage_restaurant_seat_path(@restaurant), class: "major-btn css-btn px-6 py-2 ml-4" %>
  </div>
</div>
