<section class='grid h-full grid-cols-1-2'>
  <div class='px-6'>
    <p class='py-3 border-b border-gray-200'>餐廳資訊</p>
    <div>
      <div class='restaurant-info'>
        <i class="fa-solid fa-utensils"></i>
        <%= @restaurant.title %>
      </div>
      <div class='restaurant-info'>
        <i class="fa-solid fa-store"></i>
        <%= @restaurant.branch %>
      </div>
      <div class='restaurant-info'>
        <i class="fa-solid fa-phone"></i>
        <%= @restaurant.tel %>
      </div>
      <div class='restaurant-info'>
        <i class="fa-solid fa-location-dot"></i>
        <%= @restaurant.address %>
      </div>
      <div class='restaurant-info'>
        <span>用餐時間</span>
        <%= @restaurant.dining_time %>
        <span>分鐘</span>
      </div>
    </div>  
  </div>

  <div class='px-8 py-6 mx-auto mb-auto text-left bg-white rounded-md '>
    <p class='pb-3 text-center border-b border-gray-200'>編輯餐廳</p>
    <%= render "error", restaurant: @restaurant %>
    <%= render 'form', restaurant: @restaurant, url: backstage_restaurant_path(@restaurant) %>  
  </div>
</section>