<section class='grid h-full grid-cols-3 grid-rows-2 gap-4 p-6'>
  <% date_range = ApplicationHelper::DateRange.new([]) %>
  <% date_range.end_day(@restaurant.period_of_reservation) %>
  <% date_range.reservation_range_date(Date.yesterday) %>
  
  <div class='bg-white border rounded'>
    <h2 class='py-2 text-2xl font-bold text-center border-b' >
      <%= Time.current.strftime('%Y %m 月 %d 日 %A') %>
    </h2>
    <div class='p-6 text-left'>
      <h2 class='pb-4 text-2xl font-bold'>今日統計</h2>
      <div class='grid grid-cols-2'>
        <div class='pb-4'>
          <p class='text-4xl font-bold'>
            <%= @restaurant.reservations.select{|reservation| reservation.arrival_date == Date.today}.size %>
          </p>
          <h3 class='text-lg'>
            客人組數
          </h3> 
        </div>
        <div>
          <p class='text-4xl font-bold'>
            <% people = @restaurant.reservations.select{|reservation| reservation.arrival_date == Date.today} %> 
            <%= people.each.reduce(0){|acc, n| acc += (n.adult_quantity + n.child_quantity)} %>
          </p>
          <h3 class='text-lg'>
            總人數
          </h3>
        </div>
        <div>
          <h3>已入座組數</h3>
        </div>
        <div>
          <h3>剩餘組數</h3>
        </div>
      </div>
      
    </div>
  </div>

  <div class='col-span-2 row-span-2 py-0 mb-auto bg-white border rounded'>
    <div class='p-3 text-center'>
      <div data-controller='selector' class='flex flex-wrap justify-center gap-3 mb-3 '> 
        <% date_range.date_list.each do |date| %>
          <span class='py-1 gray-btn'
                data-selector-target='date'
                data-action='click->selector#getDate'
                data-date=<%= date.gsub(/\D/, '/').strip.to_date %>
                data-id='<%=@restaurant.id%>'
          >
            <%= date %>
          </span>
        <% end %>
      </div>
      <div>
        <input type="text" class='input-border-click'>
      </div>
    </div>
 
    <div data-controller='display'
          data-action="update-date@window->display#setReservation"> 
      <% @restaurant.reservations.each do |reservation| %>
          <div class='grid grid-cols-4 p-4 text-center border-b' 
                data-controller="note-reservation"
                data-id="<%= reservation.id %>"
                data-noted="<%= current_manager.noted_important_reservation?(reservation) %>"
                data-date='<%= reservation.arrival_date%>'
                data-display-target='date'
          >
            <div class='flex text-left '>  
              <div class='flex'>
                <span data-action="click->note-reservation#noted" class='m-auto mr-2 text-center text-major'>
                  <i class="fa-regular fa-star" data-note-reservation-target="icon"></i>
                </span>
                <div>
                  <%= reservation.name %>
                  <%= reservation.gender %>
                  <p class='text-sm text-gray-500'><%= reservation.phone %></p>
                </div>
              </div>
            </div>
            <div class='flex justify-center'>
              <p class='my-auto mr-3 text-2xl text-major'>
                <%= reservation.adult_quantity + reservation.child_quantity %>
                位
              </p>
              <p class='my-auto text-sm'>
                <%= reservation.adult_quantity %>大人<br>
                <%= reservation.child_quantity %>小孩
              </p>
            </div>
            
            <p class='my-auto text-2xl'>
              <%= reservation.seat_id %>
              <span class='px-2 text-lg border rounded '>
                <%= reservation.state %>
              </span>
            </p>
            <p class='my-auto'>
              <%= reservation.arrival_time.strftime('%R') %>
            </p>
          </div>

      <% end %>
    </div>
  </div>
</section>