<section>
  <%# <%= link_to "新增座位 ", new_backstage_restaurant_seat_path(@restaurant), class: "major-btn css-btn px-6 py-2 ml-4" %> %>


  <% @seats.each do |seat| %>
    <div>
      <%= seat.kind %>
      <%= seat.capacity %>
      <%= seat.deposit %>
      <%= seat.state %>
      <%= link_to  edit_backstage_seat_path(seat.id), class: "mx-2 major-btn" do %>
        <i class="fa-solid fa-pen-to-square"></i>
        
      <% end %>
      
  
      <%= link_to backstage_seat_path(seat.id), method: "delete", class: 'major-btn bg-red-600 major-btn hover:bg-red-800' do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>

  <% end %>

</section>
<section class='grid grid-cols-3 grid-rows-2 gap-4 p-6'>
  <div class='mb-auto bg-white border rounded'>
    <h2 class='py-2 text-2xl font-bold text-center border-b' data-dash-board-target='date'>
      座位
    </h2>
    <div class='p-6 text-left'>
      <div class='grid grid-cols-2' 
            >
        
        
      </div>
      
    </div>
  </div>
</section>
