<main data-controller="backstage" class='h-full bg-hoverGray max-w-screen-2xl'>
  <nav class='fixed left-0 flex flex-col justify-between h-full bg-darkBlue'>

    <div class="flex flex-col text-center">
      <img src="/assets/123.svg" alt="logo" class='w-16 pb-6 mx-auto mt-6'>

      <button data-action="click->backstage#reservatoin" class='backstage-nav-btn' data-backstage-target="reservationtBtn">
        訂位
      </button>

      <button data-action="click->backstage#info" class='backstage-nav-btn' data-backstage-target="reservationBtn">
        資訊
      </button>

      <button data-action="click->backstage#seat" class='backstage-nav-btn' data-backstage-target="seatBtn">
        座位
      </button>

      <button data-action="click->backstage#setting" class='backstage-nav-btn' data-backstage-target="settingBtn">
        <i class="text-lg fa-solid fa-gear"></i>
      </button> 
    </div>

    <div class='text-center'>
      <%= link_to "返回", backstage_root_path, class: "backstage-nav-btn text-gray-300 text-sm block" %>
      <h1 class='text-sm text-center text-gray-300'>
        <%= @restaurant.title %>
      </h1>
      <p class='text-sm text-center text-gray-300'>
        <%= @restaurant.branch %>
      </p>
    </div>
  </nav>
  
  <div class='ml-20'>
    <section data-backstage-target="reservationInfo bg-hoverGray">
      <%= render "reservation_info" %>
    </section>
    <section data-backstage-target="info" class='hidden bg-hoverGray'>
      <%= render "restaurant_info" %>  
    </section >
    <section data-backstage-target="seat" class='hidden bg-hoverGray'>
      <%= render "restaurant_seat" %>  
    </section >
    <section data-backstage-target="setting" class='hidden bg-hoverGray'>
      <%= render "setting" %>
    </section>
  </div>
</main>






